* {
  box-sizing: border-box;
}

.topBar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-family: Georgia;
  font-size: 90%;
  text-align: center;
  border-bottom: 3px solid #fff;
  box-shadow: 0px 0px 5px #333;
  background-color: #eb583c;
}